<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" />

<div class="container mx-auto py-10">
    <h2 class="text-3xl font-bold text-center text-[#03dac6] mb-6">Servicios Disponibles</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        @for (servicio of servicios; track $index) {
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md overflow-hidden mx-auto">
            <img [src]="servicio.imagen" class="imagen-servicio w-full h-48 object-cover" alt="{{ servicio.nombre }}">
            <div class="p-5 text-center">
                <h5 class="text-lg font-bold text-[#03dac6]">{{ servicio.nombre }}</h5>
                <p class="text-sm text-gray-600 mt-2">{{ servicio.descripcion }}</p>
                <p class="text-sm font-semibold text-[#03dac6] mt-2">Categoría: {{ servicio.categoria }}</p>
                <div class="flex justify-center items-center mt-4">
                    <span class="text-lg font-bold text-gray-900">{{ servicio.precio | currency }}</span>
                    <button
                        class="bg-[#03dac6] text-white py-2 px-4 rounded-md hover:bg-[#02c4b3] transition ml-2">Contratar</button>
                </div>
            </div>
        </div>
        }
    </div>
</div>